<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <h2>Enter numbers</h2>
    <h2>The numbers should be separated by space(s) only</h2> 
    <p>(The average of these numbers will be calculated)</p>
    <form action="/avg/answer" method="POST">
        <p> <input type="text" name="list" align="center" style="background-color:yellow"> </p> 
        <p> <input type="submit" name="my-form" value="Calculate" align="center"> </p>
    </form>   <br> <br> <br> <br> <br> <br>
    <p style="text-align:left"> <a href=http://127.0.0.1:5000/>Go to Home</a> </p>
 
{% endblock %}
