<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <ul>
 
        <li> <b>Name</b> : Digvijay Singh Rawat </li> <br> 
        <li> <b>Age</b> : 18 years </li> <br>
        <li> <b>Hometown</b> : Manali </li> <br>
        <li> <b>Education</b> :
            <ol>
                <li> <b>Class X </b>- Vivek Public School </li>
                <li> <b>Class XII </b>- Vivek Public School </li>
                <li> <b>Class XII Percentage </b>- 88.4 </li>
                <li> <b>Currently </b>- Studying in Ist year at IIT(BHU) Varanasi CSE Department </li>
            </ol>  </li> <br>
        <li> <b>Institute Roll Number</b> : 14075023 </li> <br>
        <li> <b>Hobbies</b> : Gaming, Football, Cricket, Reading Novels(Jeffrey Archer, Dan Brown, Alistair Maclean) </li> <br>
        <li> <b>E-mail id</b> : digvijay.srawat.cse14@iitbhu.ac.in </li>
       
    </ul>
    <p> <img src="../static/digvijay.jpg" width=300 heigth=300 /> </p>
    <p style="text-align:left; margin-left:20px"> Courses taken : </p>
    <ul>
        
        <li> <b>Semester I</b> </li>
        <ol>
            <li> Engineering Mathematics - I </li>
            <li> Physics - I </li>
            <li> Computer Programming </li>
            <li> Biology </li>
            <li> Manufacturing Practices </li>
            <li> Human Values </li>
            <li> Physical Education </li>
        </ol>
        <br>
        <li> <b>Semester II</b> </li>
        <ol>
            <li> Engineering Mathematics - II </li>
            <li> IT Workshop - 1 </li>
            <li> Engineering Mechanics </li>
            <li> Fundamentals of Electrical Engineering </li>
            <li> Engineering Drawing </li> 
            <li> Manufacturing Practices </li> 
            <li> History and Civilization </li>
        </ol>
    </ul>
    <p style="text-align:left"> <a href=http://127.0.0.1:5000/info> Go Back </a> <p>
    <p style="text-align:left"> <a href=http://127.0.0.1:5000/> Go to Home </a> <p>

{% endblock %}
