<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <h1> HOME </h1>
    <p> This site consists of three parts. Visit the first part to view our details. <br> The second part calculates average of numbers. <br>
        The third part contains  a polynomial generator along with its graph, designed with the help of <a style="color:green" href="http://en.wikipedia.org/wiki/Lagrange_polynomial" sytle="color:red"> Lagrange's method </a> . </p>
    <h4> Part I </h4>
    <p> <a href=http://127.0.0.1:5000/info>View our details</a> <br> <br> </p>
    <h4> Part II </h4>
    <p> <a href=http://127.0.0.1:5000/avg>Calculate average</a> <br> <br> </p>
    <h4> Part III </h4>
    <p> <a href=http://127.0.0.1:5000/polynomial>Find polynomial</a> </p>

{% endblock %}
