<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <h2> Please select the member whose details you want to view : </h2> <br> <br>
    <p> <a style="color:blue" href=http://127.0.0.1:5000/info/atishay> Atishay Jain </a> <p> <br>
    <p> <a style="color:blue" href=http://127.0.0.1:5000/info/digvijay> Digvijay Singh Rawat </a> <p> <br>
    <p> <a style="color:blue" href=http://127.0.0.1:5000/info/ujjwal> Ujjwal Singh </a> <p> <br> <br> <br> <br> <br> <br> <br> 
    <p style="text-align:left"> <a href=http://127.0.0.1:5000/>Go to Home</a> </p>

{% endblock %}    
